<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Task Manager</title>
    <link rel="icon" type="image/png"
        href="https://thumbs.dreamstime.com/b/pen-book-logo-illustration-drawing-art-white-background-180230431.jpg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/main.css') }}">
    {% block head %} {% endblock %}


</head>

<body>

    {% block body %} {% endblock %}
</body>

</html>